@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=MonteCarlo&family=STIX+Two+Math&display=swap" rel="stylesheet');
html{
  scroll-behavior: smooth;
}
#backg{
    background: #040404 url("../img/alex-haney-CAhjZmVk5H4-unsplash.jpg");
    background-size: 100%;
}
a{
    color: #18d26e;
}
a:hover{
    color: #35e888;
    text-decoration: none;
}
#img{
    transition: ease-in-out 0.3s;
    position: relative;
    display: flex;
    align-items: center;
    padding: auto;
    padding-left:35pc ;
    color:#040404;


}
#img span{
    color:#ffffff;
  
}
#img h2{
    font-size: 24px;
    color:#040404;
}
#piz{
    color: #35e888;
    font-size: 84px;
    position: relative;
    display: flex;
    padding-top:10%;
    padding-bottom:20%;
    padding-left:30pc ;

}
#about{
    background: url("../img/pablo-pacheco-D3Mag4BKqns-unsplash.jpg");
    background-size: 100%;
    color:#ffffff;
}
#about h1{
    color:aqua;
}
.menu{
    background-color: #403e3e;
    opacity: 0.94;
}
.menu h2{
    text-align: center;
    color: white;
    font-weight: 900;
    padding-top: 20px;
}
#menu{
    padding-top: 20px;
    width: 90%;
    margin: auto;
}
#menu img{
    height: 100%;
    width: 100%;
}
.menu img:hover{
    transform: scale(1.1);
}
.jumbotron{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
